<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link rel="stylesheet" href="/styles/styles.css">
    {{#if_eq theme 'dark'}}
        <link rel="stylesheet" href="/styles/dark-theme.css">
    {{/if_eq}}
</head>
<body>
{{!-- Header --}}
<header>
    {{#if notes}}
            <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Create new Todo"></form>
    {{else}}
        <form action="/" method="get" id="back"><input type="submit" value="Back"></form>
    {{/if}}
    <h1>TODO LIST</h1>
    <form action="/toggle-theme" method="get" id="toggle-theme">
        <input type="hidden" id="return_address" name="return_address" value="{{#if note}}/note/{{note._id}}{{else}}{{#if notes}}/{{else}}/note/create{{/if}}{{/if}}">
        <input type="submit" value="Toggle Style">
    </form>
</header>
{{{body}}}
</body>
</html>
