{{!-- Header --}}
<header>
    <div>
        <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Create new Todo"></form>
        <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Toggle Style"></form>
    </div>
    <div>
        <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Sort by Name"></form>
        <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Sort by Due Date"></form>
        <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Sort by Creation Date"></form>
        <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Sort by Importance"></form>
        <form action="/note/create" method="get" id="create-todo"><input type="submit" value="Filter Completed"></form>
    </div>
</header>

{{!-- Notes List --}}
<ul id="notes-list">
    {{#each notes}}
        <li>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Importance: {{renderStars importance}}</p>
            <p>Due Date: {{dueDate}}</p>
            <p>Completed: {{completed}}</p>
            <form action="/note/{{_id}}" method="get"><input type="submit" value="Edit"></form>
        </li>
    {{/each}}
</ul>